  {{#if tasted}}
    <button class="taste list-group-item list-group-item-action" data-id="{{id}}">{{brew_name}}</button>
  {{else}}
    <button class="taste list-group-item list-group-item-action" data-id="{{id}}" disabled><del>{{brew_name}}</del></button>
  {{/if}}